 * {margin: 0; padding: 0;
  font-family:   'Roboto' ;


}
body{
  
 background-size:cover;
/*background-image: url(https://image.prntscr.com/image/Wlbaem0yTBmS80iW7P_bZg.jpg)  ; */
background-attachment: fixed ;
	background-position: top center;
  max-width:100%;

  
	}


.Headers {
color: black;
text-align: center;
float: left;
width: 70%;
padding-top: 2em;
font-size:100%;

}

H1{
  padding-bottom: 1em;
  text-align: center;
   
}
article{

clear:both;
font-size:100%;
padding:70px 40px;
}
img{
  float: left;
  width: 15%;
height:170px;
 box-shadow: 3px 3px 3px 3px  #777; 
  border-radius: 10px;
 
}

article{
  padding-top: 13em;
   font-size:100%;

}

.prices{
float: left;
width: 60%;
}


H3{
padding-bottom:1.5em;
font-size: 125%;
}

table {
width:100%;
border:1px solid #1b1116;
border-radius: 5px;
background:transparent ;
margin-bottom:60px; }

th, td {
padding:15px;
text-align:left; 
}
 
th {
    
  
    background: RGBA(245,245,245,0.5);
 
}

 
.inform{

float:left;
width:25%;
margin-left:10%;

}

p {
padding:0 0 1em 0;
}

.Choice{
  clear:both;
  
}
.def{
  text-align: left;
  margin-left:8%; 
   font-weight: 900;
}
l {margin-left:15px; }
.Services{
float:left;
width: 22%;
margin-bottom:2em;
      
}

.def1 {
  text-align: left;
  margin-left:8%;
font-weight: bold;
     font-weight: 900;
}
.Longs{
float:left;
width: 22%;
margin-bottom:2em; 
}
.def2 {
  text-align: left;
    font-weight: 900;
  margin-left:8%;
font-weight: bold;}
.Discount{
float:left;
width: 22%;
margin-bottom:2em;

   
}
.def3 {
  text-align: left;
   font-weight: 900;
  margin-left:8%;
font-weight: bold;}
.Topmaster{
 float:left;
width: 22%;
margin-bottom:2em;

  
}

.Count{
clear:both;
text-align:center;
border-top:1px solid #ddd;
padding-top:50px;
}


footer{
clear:both; 
padding-top:120px;
}

.Adress{
float: left;
width: 70%;
text-align: center;
}


#calc{

font-size:120%;
color: #000000;
border-radius: 9999px;
color:#fff;
background-color:#CD5C5C;
padding:1em 2.5em;
border:none;
outline:none;
}
#calc:hover,
#calc:active {
background-color:#F08080;
}
#result{
  width:100%;
  margin-left: 30px; 
  font-size:200%;
  }

    
 
 
 }
